<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="css/adminhome.css">

	<title>AdminHub</title>
</head>

<body>



	<section id="sidebar" style="background-color: white;">

		<h1 style="margin-left: 45px; margin-top: 20px; font-size: 45px;">Fonekart</h1>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<i class='bx bxs-dashboard'></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/product_management">
					<i class='bx bxs-shopping-bag-alt'></i>
					<span class="text">Product Management</span>
				</a>
			</li>
			<li>
				<a href="/User_management">
					<i class='bx bxs-doughnut-chart'></i>
					<span class="text">User Management</span>
				</a>
			</li>
			<li>
				<a href="/Order_management">
					<i class='bx bxs-message-dots'></i>
					<span class="text">Order Management</span>
				</a>
			</li>
			<li>
				<a href="/Categary_management">
					<i class='bx bxs-group'></i>
					<span class="text">Categary Management</span>
				</a>
			</li>
			<li>
				<a href="/Coupon_management">
					<i class='bx bxs-group'></i>
					<span class="text">Coupon Management</span>
				</a>
			</li>
			<li>
				<a href="/Offer_management">
					<i class='bx bxs-group'></i>
					<span class="text">Offer_Management</span>
				</a>
			</li>
			<li>
				<a href="/refferalOffer">
					<i class='bx bxs-group'></i>
					<span class="text">Refferal_Offer</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="/adminlogin" class="logout">
					<i class='bx bxs-log-out-circle'></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>





	<section id="content">
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right'></i></li>
						<li>
							<a class="active" href="/adminhome">Home</a>
						</li>
					</ul>
				</div>

			</div>

			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check'></i>
					<span class="text">
						<% if(typeof countUser !=='undefined' ){ %>
							<h3>
								<%= countUser %>
							</h3>
							<% }else{ %>
								<h3>No users</h3>
								<% } %>
									<p>Users</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group'></i>
					<span class="text">
						<% if(typeof ordercount !=='undefined' ){ %>
							<h3>
								<%= ordercount %>
							</h3>
							<% }else{ %>
								<h3>No Order</h3>
								<% } %>
									<p>Total Order</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-dollar-circle'></i>
					<span class="text">
						<% if(typeof orderTotalAmount !=='undefined' ){ %>
							<h3>$<%= orderTotalAmount %>
							</h3>
							<% }else{ %>
								<h3>No Sales</h3>
								<% } %>
									<p>Total Sales</p>
					</span>
				</li>
			</ul>

			<div
				style="background-color: rgb(0, 255, 255); justify-content: center; align-items: center; margin-top: 20px; padding: 10px;">
				
				<button class="download-button" style="margin-left: 470px;" onclick="openModal()">
					<div class="docs" style="width: 190px;"><svg class="css-i6dzq1" stroke-linejoin="round"
							stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20"
							width="20" viewBox="0 0 24 24">
							<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
							<polyline points="14 2 14 8 20 8"></polyline>
							<line y2="13" x2="8" y1="13" x1="16"></line>
							<line y2="17" x2="8" y1="17" x1="16"></line>
							<polyline points="10 9 9 9 8 9"></polyline>
						</svg>Download Sales Report</div>
					<div class="download">
						<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none"
							stroke-width="2" stroke="currentColor" height="24" width="24" viewBox="0 0 24 24">
							<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
							<polyline points="7 10 12 15 17 10"></polyline>
							<line y2="3" x2="12" y1="15" x1="12"></line>
						</svg>
					</div>
				</button>
			</div>
			
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->

	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal()">&times;</span>
			<h2 style="padding: 10px; margin-bottom: 10px;"><b>Report</b></h2>
			<a href="/dailyReportDownload"><button style="width: 80px; color: white;  height: 30px; background-color: rgb(0, 0, 0);"><b>Daily</b></button></a>
			<a href="/weeklyReportDownload"><button style="width: 80px; color: white; height: 30px; background-color: rgb(0, 0, 0);"><b>Weekly</b></button></a>
			<a href="/yearlyReportDownload"><button style="width: 80px; color: white; height: 30px; background-color: rgb(0, 0, 0);"><b>Yearly</b></button></a>
			<!-- <a href="/DailyReportDownload"><button style="width: 100px; color: white; height: 30px; background-color: rgb(0, 0, 0);"><b>Custom Date</b></button></a> -->
		</div>
	</div>


	<script src="js/adminhome.js"></script>
	<script>
		function openModal() {
			document.getElementById("myModal").style.display = "block";
		}

		function closeModal() {
			document.getElementById("myModal").style.display = "none";
		}

		function generateReport(reportType) {
			// Logic to generate report based on reportType (Daily, Weekly, Yearly)
		}

		function generateCustomReport() {
			// Logic to generate report based on custom date
		}

	</script>
</body>

</html>