<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="css/adminhome.css">
	<style>
		body {
			margin: 0;
			/* font-family: Arial, sans-serif; */
			padding: 0;
		}

		.container {
			width: 100%;
			max-width: 800px;
			margin: 0 auto;

		}

		.button-container {
			text-align: center;
			margin-bottom: 20px;
		}

		button {
			padding: 10px;
			margin: 5px;
			font-size: 16px;
			width: 200px;
		}
		

		table {
			width: 1110px;
			border-collapse: collapse;
			margin-top: 20px;
		}
		#btn:hover {
			background-color: rgb(255, 238, 0);
		} 

		th,
		td {
			border: 1px solid #000000;
			padding: 8px;
			text-align: center;
		}

		tbody {
			background-color: rgb(255, 255, 255);
			border-color: black;

		}

		th {
			background-color: #3cdaba;
			border-color: black;

		}

		.image-cell {
			max-width: 50px;
			overflow: hidden;
		}

		.action-buttons {
			text-align: center;
		}

		.edit,
		.delete {
			padding: 5px 10px;
			margin: 2px;
			font-size: 14px;
		}
	</style>


</head>

<body>


	<!-- SIDEBAR -->
	<section id="sidebar" style="background-color: white;">
		<!-- <a href="#" class="brand" style="margin-left: 70px;"> -->
		<!-- <i class='bx bxs-smile'></i> -->
		<!-- <span class="text">Fonekart</span> -->
		<!-- </a> -->
		<h1 style="margin-left: 45px; margin-top: 20px; font-size: 45px;">Fonekart</h1>
		<ul class="side-menu top">
			<li>
				<a href="/adminhome">
					<i class='bx bxs-dashboard'></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/product_management">
					<i class='bx bxs-shopping-bag-alt'></i>
					<span class="text">Product Management</span>
				</a>
			</li>
			<li>
				<a href="/User_management">
					<i class='bx bxs-doughnut-chart'></i>
					<span class="text">User Management</span>
				</a>
			</li>
			<li>
				<a href="/Order_management">
					<i class='bx bxs-message-dots'></i>
					<span class="text">Order Management</span>
				</a>
			</li>
			<li class="active">
				<a href="/Categary_management">
					<i class='bx bxs-group'></i>
					<span class="text">Categary Management</span>
				</a>
			</li>
			<li>
				<a href="/Coupon_management">
					<i class='bx bxs-group'></i>
					<span class="text">Coupon Management</span>
				</a>
			</li>
			<li >
				<a href="/Offer_management">
					<i class='bx bxs-group'></i>
					<span class="text">Offer_Management</span>
				</a>
			</li>
			<li >
				<a href="/refferalOffer">
					<i class='bx bxs-group'></i>
					<span class="text">Refferal_Offer</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<!-- <li>
					<a href="#">
						<i class='bx bxs-cog' ></i>
						<span class="text">Settings</span>
					</a>
				</li> -->
			<li>
				<a href="/adminlogin" class="logout">
					<i class='bx bxs-log-out-circle'></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<h1>Categary</h1>
	<!-- SIDEBAR -->

	<h1 style="margin-left: 310px; margin-bottom: 20px; color: rgb(35, 34, 43);">CATEGORY MANAGEMENT</h1>

	<div class="container">
		<div class="button-container" style="margin-right: 500px; display: flex;">
			<a id="btn" href="/category/add-category"><button  style="background-color: rgb(56, 210, 56); border-radius: 10px;">Add Category</button></a>
			<a id="btn" href="/category/unlisted-category"><button  style="background-color: rgb(56, 210, 56); border-radius: 10px;">Unlisted Category</button></a>
		</div>

		<table>
			<thead>
				<tr>
					<th>Image</th>
					<th>Category Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<% if(typeof CategoryDetails !=='undefined' ){ %>
					<% for (let i=0; i < CategoryDetails.length; i++){ %>

						<tr>
							<td class="image-cell"><img style="width: 100px; " src="<%= CategoryDetails[i].image %>"
									alt="Category Image"></td>
							<td>
								<%= CategoryDetails[i].category %>
							</td>
							<td class="action-buttons">
								<a href="/category/edit-category?id=<%= CategoryDetails[i]._id %>"><button
										style="background-color: rgb(94, 224, 94); width: 60px;"
										class="edit">Edit</button></a>
								<a href="/category/delete-category?id=<%= CategoryDetails[i]._id %>"><button
										style="background-color: rgb(233, 85, 85); width: 60px;"
										class="delete">Delete</button></a>
							</td>
						</tr>
						<% } %>
							<% } %>


								<!-- Add more rows as needed -->
			</tbody>
		</table>
	</div>



	<script src="js/adminhome.js"></script>
</body>

</html>