<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <!-- My CSS -->
    <link rel="stylesheet" href="css/adminhome.css">

   

    <title>Fonekart</title>

</head>

<body>

    <!-- SIDEBAR -->
    <section id="sidebar" style="background-color: white;">
        <!-- <a href="#" class="brand" style="margin-left: 70px;"> -->
        <!-- <i class='bx bxs-smile'></i> -->
        <!-- <span class="text">Fonekart</span> -->
        <!-- </a> -->
        <h1 style="margin-left: 45px; margin-top: 20px; font-size: 45px;">Fonekart</h1>
        <ul class="side-menu top">
            <li>
                <a href="/adminhome">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/product_management">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">Product Management</span>
                </a>
            </li>
            <li>
                <a href="/User_management">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">User Management</span>
                </a>
            </li>
            <li>
                <a href="/Order_management">
                    <i class='bx bxs-message-dots'></i>
                    <span class="text">Order Management</span>
                </a>
            </li>
            <li>
                <a href="/Categary_management">
                    <i class='bx bxs-group'></i>
                    <span class="text">Categary Management</span>
                </a>
            </li>
            <li>
                <a href="/Coupon_management">
                    <i class='bx bxs-group'></i>
                    <span class="text">Coupon Management</span>
                </a>
            </li>
            <li class="active">
                <a href="/Offer_management">
                    <i class='bx bxs-group'></i>
                    <span class="text">Offer Management</span>
                </a>
            </li>
            <li >
				<a href="/refferalOffer">
					<i class='bx bxs-group'></i>
					<span class="text">Refferal_Offer</span>
				</a>
			</li>
        </ul>
        <ul class="side-menu">
           
            <li>
                <a href="/adminlogin" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>

    <h1 style="margin-left: 310px;margin-top: 20px; margin-bottom: 20px; color: rgb(35, 34, 43);">OFFER MANAGEMENT</h1>

    <div style="margin-left: 300px;">
        <a href="/addCategoryOffer"><button class="btn1"   style="margin-right: 10px; height: 35px; width: 150px; background-color: yellow; border: black 1px solid; border-radius: 5px;">Add Category Offer</button></a>
        <a href="/addProductOffer"><button class="btn2"   style="margin-right: 10px; height: 35px; width: 150px; background-color: yellow; border: black 1px solid; border-radius: 5px;">Add Product Offer</button></a>
    </div>

    <table style="width: 77%; margin-left: 300px; margin-top: 20px; border-collapse: collapse;">
        <thead style="background-color: rgb(255, 0, 0);">
            <tr style="border-bottom: 1px solid black;">
                <th style="padding: 10px; text-align: left;">Category/Product</th>
                <th style="padding: 10px; text-align: left;">Discount</th>
                <th style="padding: 10px; text-align: left;">Expiry Date</th>
                <th style="padding: 10px; text-align: left;">Action</th>
            </tr>
        </thead>
        <tbody>
            <% if (offerData.length !== 0) { %>
                <% for (let i = 0; i < offerData.length; i++) { %>
                    <tr style="border-bottom: 1px solid black; background-color: white;">
                        <td style="padding: 10px;"><%= offerData[i].name %></td>
                        <td style="padding: 10px;"><%= offerData[i].discount %>%</td>
                        <td style="padding: 10px;"> <%= new Date(offerData[i].expirydate).toLocaleDateString() %></td>
                        <td style="padding: 10px;"><a href="/deleteOffer?id=<%= offerData[i]._id %>"><button style="height: 30px; background-color: red; border-radius: 5px; width: 50px;">Delete</button></a></td>

                        
                    </tr>
                <% } %>
            <% } %>
        </tbody>
        
    </table>

    <script src="js/adminhome.js"></script>
</body>

</html>
